body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;

}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.band {
    color: rgb(25, 173, 241);
    font-size: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0px 35px;
}

.dropdown-content li {
    list-style: none;
    margin: 0px 0px 0px -40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: block;
}

.dropdown-content li:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownBtn {
    margin-left: 5rem;
    cursor: pointer;
}

.dropdownBtn span {
    font-size: 22px;
    margin-left: 4px;
}

.nav-right {
    display: block;
    text-align: center;
    margin: 8px 50px 0px 0px;
}

.nav-icon {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: gray;
}

.nav-btn {
    padding: 7px 30px;
    margin: 3px 1px;
    color: white;
    background-color: #ea9500;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

/* navbar css end here.......... */

/* main section start here...... */
.main-background {
    width: 100%;
    background-color: #0787b0;
    height: 450px;
}

.card {
    background-color: white;
    height: 600px;
    margin: auto;
    width: 85%;
    margin-top: -350px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.sticker-body {
    text-align: right;
    padding: 27px 0px 0px 0px;
}

.sticker {
    margin-right: -14px;
    background-color: #1e3963;
    color: white;
    padding: 7px 20px;
}

.sub-card {
    width: 90%;
    margin: auto;
    border: 1px solid red;
}

.sub-card-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* content left start here ....... */
.content-left {
    border: 1px solid black;
}

.content-left-one {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.profile-img {
    width: 160px;
    height: 185px;
    border-radius: 5px;
}

.country {
    display: flex;
    gap: 8px;
    margin-top: -15px;
}

.country-img {
    width: 33px;
    height: 20px;
}

.user-like {
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 8px;
}

/* content right start here ....... */

.content-right {
    border: 1px solid blue;
    text-align: center;
}